<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

<Properties>
    <Property name ="basepath>">./logs</Property>
</Properties>

    <!-- Author:  Crunchify.com  -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <RollingFile name="RollingFile" filename="${basepath}/automation.log"
                     filepattern="${basepath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n" />
            <SizeBasedTriggeringPolicy size="5000"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="Off">
            <!--<AppenderRef ref="Console" /> -->
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>